<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Book</title>
</head>
<body>

<p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"></p>
@{/order/{id}/details(id=3,action='show_all')}


<div>
    <span>Эта книга свободна. Кому её назначить?</span>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()}, title=${book.getTitle()}, author=${book.getAuthor()}, year=${book.getYear()})}">
        <label for="person">Выберите человека</label>
        <select id="person" th:field="*{book.person}">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>